// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 40px;
}
.button-div {
  width: 535px;
  margin: auto;
  margin-bottom: 20px;
}
#picture_description {
  margin-top: 5px;
}
.field_with_errors label {
  border: 1px solid red;
  border-radius: 5px;
}
.picture_error {
  text-align: center;
  color: #cc0000;
}
.form-control {
  width: 50%;
}
.form-group {
  width: 50%;
  margin: auto;
}
.post_button {
  margin-top: 5px;
}
img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}
.panel {
  width: 535px;
  margin: auto;
}
.panel-footer {
  min-height: 41px;
}
.edit {
  float: right;
}
.edit_textarea {
  width: 450px !important;
  display: inline-block !important;
}
.save {
  float: right;
}
.glyphicon-trash {
  float: right;
  margin-left: 10px;
}
.comment {
  float: right;
  margin-right: 10px;
}
.comment_form .form-control {
  margin-top: 5px;
  width: 450px;
}
.glyphicon-save {
  float: right;
}
.comments {
  list-style-type: none;
}
.each_comment {
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: -44px;
  padding-left: 10px;
  width: 390px;
}
.icons {
  height: 23px;
}
.like {
  float: right;
}
.like_count {
  float: left;
  margin-right: 5px;
  // margin-bottom: 1px;
  font-size: 12px;
}
