// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 40px;
}
.button-div {
  width: 535px;
  margin: auto;
}
.form-control {
  width: 50%;
}

.form-group {
  width: 50%;
  margin: auto;
}
.post_button {
  margin-top: 5px;
}
img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}
.panel {
  width: 535px;
  margin: auto;
}
.panel-footer {
  min-height: 41px;
}
.edit {
  float: right;
}
.edit_textarea {
  width: 450px !important;
  display: inline-block !important;
}
.save {
  float: right;
}
.glyphicon-trash {
  float: right;
  margin-left: 10px;
}
// .delete {
//   float: right;
//
// }
