// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 50px;
}
.button-div {
  width: 535px;
  margin: auto;
  margin-bottom: 20px;
}
#picture_description {
  margin-top: 5px;
}
.field_with_errors label {
  border: 1px solid red;
  border-radius: 5px;
}
.picture_error {
  text-align: center;
  color: #cc0000;
}
.form-control {
  width: 50%;
}
.form-group {
  width: 50%;
  margin: auto;
}
.post_button {
  margin-top: 5px;
}
img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}
.panel {
  width: 535px;
  margin: auto;
}
.panel-footer {
  min-height: 41px;
}
.edit {
  float: right;
}
.edit_textarea {
  width: 450px !important;
  display: inline-block !important;
}
.save {
  float: right;
}
.glyphicon-trash {
  float: right;
  margin-left: 10px;
}
.comment {
  float: right;
  margin-right: 10px;
}
.comment_form .form-control {
  margin-top: 5px;
  width: 450px;
}
.glyphicon-save {
  float: right;
}
.comments {
  list-style-type: none;
}
.each_comment {
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: -44px;
  padding-left: 10px;
  width: 390px;
  display: inline-block;
  // margin-right: 1px;
}
.icons {
  height: 23px;
}
.like {
  float: right;
}
.like_count {
  float: left;
  margin-right: 5px;
  // margin-bottom: 1px;
  font-size: 12px;
}
.remove {
  margin-right: 3px;
}
#user-search-txt {
  margin: auto;
  width: 535px;
  display: inline-block;

}
.user_search {
  padding-top: 10px;
  display: inline-block;
  width: 135px;
}
.name {
  list-style-type: none;
}
.search_link {
  display: block;
}
.search_items {
  display: block;
}

.user_search input {
  width: 135px;
  font-size: 1em;
  padding: .5em 1.3em;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 2em;
}

.user_search input:focus {
  border-color: #A5CEF5;
}

.user_search .results .ui-widget-content {
  background: #fff;
  font-size: 1em;
  padding: .5em 0;
  border-color: #ddd;
  box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
  line-height: 1.2;
  max-height: 20em;
  overflow: hidden;
  overflow-y: auto;
}

.user_search .results .ui-menu-item {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  padding: .4em .6em .4em 2.2em;
  position: relative;
  border: 0;
  border-left: 5px solid transparent;
  position: relative;
  height: 2em;
}

.user_search .results .ui-state-focus {
  background: #fff;
  border-left-color: #08c;
  font-weight: 300;
}

.user_search .results .ui-state-focus .name {
  color: #08c;
}
